{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet, at modus altera invenire his. Eu altera interpretaris qui. Quo ea idque inciderint.
     His omnis nullam appareat ut. Tation perfecto scriptorem ex his. 
     Mediocrem facilisis pri ne, clita libris honestatis est at, cu accusata delicata vim.</p>
</div>
{% endblock %}